.icon { display: inline-block; vertical-align: middle; background-image: url(icon.png) }
.icon-add-resource { width: 14px; height: 14px; background-position: 0px 0px; }
.icon-alter-resource { width: 15px; height: 14px; background-position: 0px -14px; }
.icon-btn-search { width: 14px; height: 14px; background-position: 0px -28px; }
.icon-del-resource { width: 14px; height: 14px; background-position: 0px -42px; }
.icon-import-resource { width: 14px; height: 14px; background-position: 0px -56px; }
.icon-btn-list { width: 16px; height: 15px; background-position: 0px -70px; }
.icon-export-resource { width: 16px; height: 16px; background-position: 0px -85px; }
.icon-audio_muted { width: 21px; height: 19px; background-position: 0px -101px; }
.icon-audio { width: 21px; height: 19px; background-position: 0px -120px; }
.icon-hd-resource { width: 20px; height: 22px; background-position: 0px -139px; }